* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #61affe;
  width: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: 1 0;
  justify-content: center;
}
.imagem__grafico {
  max-width: 1000px;
  height: auto;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: 1 0;
  justify-content: center;
}
.imagem__virus {
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  width: 150px;
}

h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: 1 0;
  justify-content: center;
  font-family: Lato;
  font-size: 3rem;
  color: white;
  padding: 20px;
}
